---
const { title, url, link } = Astro.props;
import { Image } from "astro:assets";
---

<div>
  <a
    class="group aspect-video hover:!text-default"
    href={link}
    aria-label={`${title} link`}
  >
    <figure
      class="relative h-full w-full overflow-hidden px-6 py-2 hover:accent-[#328eef]"
    >
      <Image
        class="object-cover w-full h-full transition-all duration-300 bg-cover group-hover:scale-105 group-hover:opacity-40 group-focus:scale-105 group-focus:opacity-40"
        width={800}
        height={450}
        format="webp"
        src={url}
        alt={`${title} image`}
      />
      <figcaption class="absolute inset-0">
        <div
          class="flex h-full flex-col items-center justify-center gap-2 opacity-0 transition-all duration-300 group-hover:opacity-100 group-focus:opacity-100"
        >
          <p
            class="hidden sm:block mt-[10rem] border-4 font-bold border-current px-4 py-2 bg-black text-[#328eef] dark:text-[#fffb00] text-lg animate-bounce"
          >
            Read
          </p>
          <h3
            class="hidden sm:block text-center bg-black rounded-full bg-opacity-60 p-2 font-extrabold uppercase text-xl text-[#328eef]"
          >
            {title}
          </h3>
        </div>
      </figcaption>
    </figure>
  </a>
</div>
