---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
	<div class='flex flex-col text-center'>
		<p>{frontmatter.pubDate.slice(0, 10)}</p>
		<h2 class='text-2xl font-bold'><em>{frontmatter.description}</em></h2>
		<p>Written by: {frontmatter.author}</p>
		<div class='flex justify-center'>
			<img
				src={frontmatter.image.url}
				width='300'
				alt={frontmatter.image.alt}
			/>
		</div>
	</div>
	<div class='prose dark:prose-invert p-4'>
		<slot />
	</div>
</BaseLayout>
